<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ALT+TAB Soundtrack</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>
    <div id="app">
        <header class="window-bar">
            <span>&#127911;</span>
            <span>ALT+TAB.SOUNDTRACK</span>
            <span id="edition">#{{EDITION_NUMBER}}</span>
        </header>
        <main class="container">
            <div class="question">
                <h1>E se o seu dia tivesse uma trilha sonora?</h1>
            </div>

            <div>
                <div class="separator"></div>
                <div class="section-title">
                    <span>&#127919;</span>
                    <span>{{SITUATION_TITLE}}</span>
                </div>
                <p>{{SITUATION}}</p>
                <div class="separator"></div>
                <div class="section-title">
                    <span>&#127925;</span>
                    <span>Eu daria play nessa música.</span>
                </div>
                <div class="hero">
                    <div class="album">
                        <img src="{{LINK_ALBUM}}" alt=""
                            crossorigin="anonymous">
                    </div>

                    <div class="info">
                        <h1 class="music-title">
                            {{MUSIC_TITLE}}
                        </h1>
                        <h2>{{MUSIC_ARTIST}}</h2>
                    </div>
                </div>

                <div class="separator"></div>
                <div class="section-title">
                    <span>&#128161;</span>
                    <span>{{CURIOSITY_TITLE}}</span>
                </div>
                <p>{{CURIOSITY}}</p>

                <div class="separator"></div>
                <div class="section-title">
                    <span>&#128172;</span>
                    <span>{{QUESTION_TITLE}}</span>
                </div>
                <p>{{QUESTION}}</p>
            </div>
        </main>
        <footer>
            <ul class="footer-list">
                <li>Play</li>
                <li>Foco</li>
                <li>Programação</li>
                <li>Música</li>
                <li>Bem estar</li>
            </ul>
        </footer>
    </div>
</body>

</html>